.content {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	justify-items: center;
	align-items: center;
	color: white;
}

.title {
	justify-self: end;
	padding-right: 100px;
	color: #023E51;
}

.introduction {
	width: 65%;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-column-gap: 40px;
	align-items: start;
}

.introduction p:nth-child(1) {
	font-size: 2em;
	text-align: right;
	margin: 0;
}

.introduction p:nth-child(2) {
	font-weight: 300;
	margin: 0;
	padding-top: 5px;
}