.content {
	display: grid;
	grid-template-rows: 4fr 1fr;
	justify-items: center;
	align-items: center;
	color: white;
}

img {
	width: 200px;
	border-radius: 50%;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 40px;
}

.introduction {
	text-align: center;
}