body {
	background-color: #046E91;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	letter-spacing: 1px;
}

.container {
	display: grid;
	grid-template-columns: 75px 1fr;
	grid-template-rows: 1fr 100px;
	height: 100vh;
}

.navbar {
	grid-row: 1/3;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

.active {
	color: #046E91;
}

i {
	font-size: 1.6em;
	padding: 40px 0;
}

a {
	color: white;
}

a:hover {
	color: #046E91;
}

img {
	width: 200px;
	margin-bottom: 40px;
	border-radius: 50%;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
}

.socials i {
	font-size: 1.2em;
	padding-right: 2em;
	padding-left: 2em;
}

.socials i:hover {
	color: black;
}