body {
	background-color: #046E91;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	letter-spacing: 1px;
}

.container {
	display: grid;
	grid-template-columns: 75px 1fr;
	height: 100vh;
}

.navbar {
	background-color: #023E51;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.active {
	color: #046E91;
}

i {
	font-size: 1.6em;
	padding: 40px 0;
}

a {
	color: white;
}

a:hover {
	color: #046E91;
}

.socials i {
	font-size: 1.2em;
	padding-right: 2em;
	padding-left: 2em;
}

.socials i:hover {
	color: #023E51;
}